[submodule "PureWiki/vendor/PureLayout"]
	path = PureWiki/vendor/PureLayout
	url = https://github.com/PureWiki/PureLayout.git
[submodule "PureWiki/vendor/KVOController"]
	path = PureWiki/vendor/KVOController
	url = https://github.com/PureWiki/KVOController.git
[submodule "PureWiki/vendor/SugarWiki"]
	path = PureWiki/vendor/SugarWiki
	url = https://github.com/PureWiki/SugarWiki
[submodule "PureWiki/vendor/DJProgressHUD"]
	path = PureWiki/vendor/DJProgressHUD
	url = https://github.com/TongKuo/DJProgressHUD_OSX.git
[submodule "PureWiki/vendor/MBProgressHUD"]
	path = PureWiki/vendor/MBProgressHUD
	url = https://github.com/TongKuo/MBProgressHUD-OSX.git
