[submodule "PureWiki/vendor/Wikikit"]
	path = PureWiki/vendor/Wikikit
	url = https://github.com/TongKuo/Wikikit.git
[submodule "PureWiki/vendor/PureLayout"]
	path = PureWiki/vendor/PureLayout
	url = https://github.com/PureWiki/PureLayout.git
