[submodule "PureWiki/vendor/PureLayout"]
	path = PureWiki/vendor/PureLayout
	url = https://github.com/PureWiki/PureLayout.git
[submodule "PureWiki/vendor/KVOController"]
	path = PureWiki/vendor/KVOController
	url = https://github.com/PureWiki/KVOController.git
[submodule "PureWiki/vendor/SugarWiki"]
	path = PureWiki/vendor/SugarWiki
	url = https://github.com/PureWiki/SugarWiki
